<!DOCTYPE html>
<html>
  <head> <% include partials/templates/head.ejs %></head>
  <body id="<%= pageID %>">
<% include partials/templates/header.ejs %>

        <% include partials/content/speakerlist.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
        <% include partials/content/maincontent.ejs %>
        </div>
        
        <aside class="col-sm-4">
         <% include partials/content/whoshouldcome.ejs %>
         <% include partials/content/artwork.ejs %>       
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
    <% include partials/templates/jsdefaults.ejs %>       
  </body>
</html>
